body {
  width: 99vw;
  margin: auto;
}

#header, #two-column, #core {
  width: 60%;
  margin: auto;
  text-align: center;
  /* border: 1px solid #ff0000; */
  padding: 10px;
}

#header {
  height: 10vh;
}

#two-column {
height: 5vh;
line-height: 5vh;
display: grid;
grid-template-columns: 50% 50%;
}

ul {
  text-align: left;
  width: 80%;
  margin: auto;
}
